:root {
  --primary-color: #404040;
  --secondary-color: #ebe4df;
}

@font-face {
  font-family: apercuRegular;
  src: url(./Fonts/FONT_APERCU/Apercu\ Regular.otf);
}

@font-face {
  font-family: apercuMedium;
  src: url(./Fonts/FONT_APERCU/Apercu\ Medium.otf);
}

@font-face {
  font-family: apercuLight;
  src: url(./Fonts/FONT_APERCU/Apercu\ Light.otf);
}

@font-face {
  font-family: saol;
  src: url(./Fonts/FONT_SAOL/SaolDisplay-Thin.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Locomotive style */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Locomotive pulsating effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  position: relative;
  width: 100%;
  background-color: #ebe4df;
  color: var(--primary-color);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: var(--secondary-color);
  /* display: none; */
  pointer-events: none;
}

.loader-box {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  /* top: 0; */
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
}

.loader-box > svg {
  fill: var(--primary-color);
}

.page1 {
  position: relative;
  height: 120vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--primary-color);
}

.page1::-webkit-scrollbar {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  padding-top: 1.5vw;
  font-family: apercuRegular;
}

.nav-right {
  display: flex;
  gap: 2.5vw;
  white-space: nowrap;
}

.nav-right a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1vw;
  font-weight: 500;
  opacity: 0;
}

.nav-right h3 {
  color: var(--primary-color);
  font-size: 1.1vw;
  font-weight: 500;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.nav span {
  display: inline-block;
}

.nav-elem1,
.nav-elem2,
.nav-elem3,
.nav-elem4 {
  display: flex;
  flex-direction: column;
  height: 2.5vh;
  position: relative;
}

.page1-hero-text {
  position: relative;
  padding: 0 4vw;
  margin-top: 8vw;
  display: flex;
  flex-wrap: wrap;
}

.page1-text-all > span {
  font-family: apercuLight;
  font-weight: 300;
  font-size: 3.3vw;
  color: var(--primary-color);
}

.philippe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.philippe-text {
  display: inline-block;
}

.philippe-svg {
  position: absolute;
  top: -20%;
  /* left: 50%; */
  transform: translate(15%, 0%);
  /* opacity: 0; */
  height: 5.5vw;
}

.philippe-path {
  stroke-dasharray: 3200;
  stroke-dashoffset: 3200;
}

.berlin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  position: relative;
}

.berlin-text {
  display: inline-block;
}

.berlin-svg {
  position: absolute;
  top: -65%;
  left: 0%;
  opacity: 0;
  scale: 0;
  height: 6.5vw;
}

.vienna {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  position: relative;
}

.vienna-text {
  display: inline-block;
}

.vienna-svg {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  height: 6.5vw;
}

.ux {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1vw;
  position: relative;
}

.ux-text {
  display: inline-block;
}

.ux-svg {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-10%, -15%);
  opacity: 0;
  scale: 0;
  height: 3.5vw;
}

.creativity {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1vw;
  position: relative;
}

.creativity-text {
  display: inline-block;
}

.creativity-svg {
  position: absolute;
  top: 10%;
  left: 0%;
  /* transform: translate(-10%, 0%); */
  opacity: 0;
  scale: 0;
  height: 3.5vw;
}

.tailor {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1vw;
  position: relative;
}

.tailor-text {
  display: inline-block;
}

.tailor-svg {
  position: absolute;
  top: 15%;
  left: 0%;
  opacity: 0;
  height: 3vw;
}

.experiences {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1vw;
  position: relative;
}

.experiences-text {
  display: inline-block;
}

.experiences-svg {
  position: absolute;
  top: 10%;
  left: 0%;
  opacity: 0;
  scale: 0;
  height: 3vw;
}

.brand {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1vw;
  position: relative;
}

.brand-text {
  display: inline-block;
}

.brand-svg {
  position: absolute;
  top: 10%;
  left: 0%;
  opacity: 0;
  scale: 0;
  height: 4vw;
}

.page1-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: apercuRegular;
  position: relative;
  z-index: 9;
}

.page1-footer-box {
  margin-top: 7.5vw;
  position: relative;
  padding: 1vw;
}

.page1-footer-box > span {
  font-size: 4vw;
  color: var(--primary-color);
  display: inline-block;
  margin-left: 2vw;
  font-family: saol;
  font-weight: 500;
}

.p {
  position: relative;
  top: -1vw;
  rotate: 10deg;
}

.h {
  position: relative;
  top: 2vw;
  rotate: -10deg;
}

.i {
  position: relative;
  /* top: 2vw; */
  rotate: -30deg;
}

.i2 {
  position: relative;
  /* top: 2vw; */
  rotate: 30deg;
}

.p2 {
  position: relative;
  top: -2vw;
  rotate: -25deg;
}

.p3 {
  position: relative;
  /* top: -2vw; */
  rotate: -25deg;
}

.e {
  position: relative;
  top: -2vw;
  rotate: -25deg;
}

.page1-line-svg {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.svg-overlay {
  position: absolute;
  top: -10%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ebe4df;
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding: 2vw 0;
  overflow: hidden;
}

.page2-rotation {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.page2-rotation > svg {
  animation: rotation 20s linear infinite both;
}

.page2-title {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: saol;
}

.page2-title > h1 {
  font-size: 32vw;
  font-weight: 100;
  line-height: 0.6;
  /* -webkit-text-stroke: 1px #ebe4df; */
  mix-blend-mode: difference;
}

.page2-title > h1 > span {
  display: inline-block;
}

.page2-right {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}

.page2-right > h3 {
  font-family: apercuLight;
  color: #ffffff;
  font-size: 5vw;
  rotate: 90deg;
}

.page2-navigation {
  display: flex;
  gap: 0.5vw;
}

.page2-navigation-circle:nth-child(1) {
  /* background-color: #000; */
}

.page2-navigation-circle {
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  background-color: #fff;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.page2-part1,
.page2-part2,
.page2-part3,
.page2-part4,
.page2-part5,
.page2-part6,
.page2-part7 {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part1-text,
.part2-text,
.part3-text,
.part4-text,
.part5-text,
.part6-text,
.part7-text {
  font-size: 14vw;
  font-family: saol;
  font-weight: 400;
  position: absolute;
  color: var(--secondary-color);
  left: 100%;
  top: 50%;
  z-index: 9;
}

.page2-part1-circle,
.page2-part2-circle,
.page2-part3-circle,
.page2-part4-circle,
.page2-part5-circle,
.page2-part6-circle,
.page2-part7-circle {
  height: 45vw;
  width: 45vw;
  border-radius: 50%;
  overflow: hidden;
}

.page2-part1-circle > img,
.page2-part2-circle > img,
.page2-part3-circle > img,
.page2-part4-circle > img,
.page2-part5-circle > img,
.page2-part6-circle > img,
.page2-part7-circle > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.parts-counter {
  display: inline-block;
}

.page3 {
  position: relative;
  height: 110vh;
  width: 100%;
}

.page3-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page3-title-box {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.page3-title-box > h1 {
  font-size: 14vw;
  font-weight: 100;
  line-height: 1;
}

.page3-title-box > h1 > span {
  display: inline-block;
}

.page3-box {
  position: relative;
  padding: 0 4vw;
  display: flex;
  font-family: apercuRegular;
  margin-top: 4vw;
  gap: 1.5vw;
  flex-wrap: wrap;
}

.page3-mousefollower {
  --circle-size: 9vw;
  position: fixed;
  opacity: 0;
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-color: salmon;
}

.page3-mousefollower > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page3-elem {
  display: flex;
  gap: 0.8vw;
  align-items: end;
  white-space: nowrap;
}

.page3-box span {
  margin-bottom: 0.3vw;
}

.page3-box a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2.7vw;
  line-height: 1;
  position: relative;
  z-index: 9;
}

.page4 {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.page4-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page4-title-box {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.page4-title-box > h1 {
  font-size: 14vw;
  font-weight: 100;
  line-height: 1;
}

.page4-title-box > h1 > span {
  display: inline-block;
}

.page5 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: var(--secondary-color);
}

.page5-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page5-title-box {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.page5-title-box > h1 {
  font-size: 14vw;
  font-weight: 100;
  line-height: 1;
}

.page5-title-box > h1 > span {
  display: inline-block;
}

.page5-box {
  height: 100vh;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform-origin: top center;
  overflow: hidden;
}

.page5-left {
  width: 55%;
  height: 100%;
  position: relative;
}

.page5-left-part1 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 80%;
}

.page5-left-part1 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part1-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part1-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part1-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

.page5-right {
  width: 45%;
  height: 100%;
  position: relative;
}

.page5-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  /* background-color: greenyellow; */
  border: 1px solid rgba(255, 255, 255, 0.319);
  overflow: hidden;
}

.page5-circle > .video1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 50%;
}

.page5-circle > .video2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0%;
}

.page5-circle > .video3 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0%;
}
.page5-circle > .video4 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0%;
}

/* ###################### */
.page5-left-part2 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part2 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part2-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part2-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part2-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

/* ###################### */
.page5-left-part3 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part3 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part3-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part3-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part3-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

/* ###################### */
.page5-left-part4 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part4 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part4-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part4-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part4-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

/* ################################## */

.page5-left-part5 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part5 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part5-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part5-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part5-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

/* ################################## */

.page5-left-part6 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part6 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part6-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 10vw;
}

.page5-left-part6-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part6-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

/* ################################## */

.page5-left-part7 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part7 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part7-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part7-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part7-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}
/* ################################## */

.page5-left-part8 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part8 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part8-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part8-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part8-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

/* ################################## */

.page5-left-part9 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part9 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part9-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part9-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part9-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}
/* ################################## */

.page5-left-part10 {
  display: flex;
  gap: 2vw;
  position: relative;
  top: 100%;
}

.page5-left-part10 > svg {
  flex-shrink: 0;
  margin-top: 1.5vw;
}

.page5-left-part10-title {
  overflow: hidden;
  /* background-color: salmon; */
  height: 6vw;
}

.page5-left-part10-title > h1 {
  font-family: apercuLight;
  font-size: 4vw;
  /* font-weight: 500; */
}

.page5-left-part10-title > p {
  font-family: apercuLight;
  font-size: 2vw;
  font-weight: 200;
  margin-top: 2vw;
  width: 90%;
}

.page6 {
  position: relative;
  height: 120vh;
  width: 100%;
  color: var(--secondary-color);
  padding: 0 4vw;
}

.page6-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page6-title-box {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.page6-title-box > h1 {
  font-size: 14vw;
  font-weight: 100;
  line-height: 1;
}

.page6-title-box > h1 > span {
  display: inline-block;
}

.page6 > p {
  font-family: apercuLight;
  font-size: 2.5vw;
  margin-top: 2vw;
}

.page6-brands {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  margin-top: 5vw;
  /* background-color: salmon; */
}

.strip1 {
  width: 100%;
  overflow: hidden;
}

.strip1-scroller {
  position: relative;
  display: flex;
  gap: 6vw;
}

.strip1-scroller > svg {
  height: 3vw;
  width: 8vw;
  object-fit: cover;
  flex-shrink: 0;
}

.strip2 {
  width: 100%;
  overflow: hidden;
}

.strip2-scroller {
  position: relative;
  display: flex;
  gap: 6vw;
}

.strip2-scroller > svg {
  height: 3vw;
  width: 8vw;
  object-fit: cover;
  flex-shrink: 0;
}

.strip3 {
  width: 100%;
  overflow: hidden;
}

.strip3-scroller {
  position: relative;
  display: flex;
  gap: 6vw;
}

.strip3-scroller > svg {
  height: 3vw;
  width: 8vw;
  object-fit: cover;
  flex-shrink: 0;
}
.strip4 {
  width: 100%;
  overflow: hidden;
}

.strip4-scroller {
  position: relative;
  display: flex;
  gap: 6vw;
}

.strip4-scroller > svg {
  height: 3vw;
  width: 8vw;
  object-fit: cover;
  flex-shrink: 0;
}

.page7 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.page7-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: saol;
}

.page7-title-box {
  /* overflow: hidden; */
  text-align: center;
  width: 100%;
}

.page7-title-box > h1 {
  font-weight: 500;
  font-size: 14vw;
  line-height: 1;
}

.page7-title-box > h1 > span {
  display: inline-block;
}

.page7-box {
  position: relative;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  height: 60vh;
  margin-top: 2vw;
}

.page7-left {
  position: relative;
  height: 100%;
  width: 65%;
  padding-right: 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page7-left > p {
  font-size: 2.2vw;
  font-family: apercuRegular;
}

.page7-left > p:nth-child(2) {
  margin-top: 3vw;
}

.page7-right {
  position: relative;
  height: 100%;
  width: 30%;
}

.page7-right > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
