* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #404040;
}

@font-face {
  font-family: apercuRegular;
  src: url(./Fonts/FONT_APERCU/Apercu\ Regular.otf);
}

@font-face {
  font-family: apercuMedium;
  src: url(./Fonts/FONT_APERCU/Apercu\ Medium.otf);
}

@font-face {
  font-family: apercuLight;
  src: url(./Fonts/FONT_APERCU/Apercu\ Light.otf);
}

.main {
  position: relative;
  width: 100%;
  background-color: #ebe4df;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: var(--primary-color);
  /* display: none; */
}

.loader-box {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  /* top: 0; */
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

.loader > svg {
  fill: #fff;
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  padding-top: 1.5vw;
  font-family: apercuRegular;
}

.nav-right {
  display: flex;
  gap: 2.5vw;
  white-space: nowrap;
}

.nav-right a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1vw;
  font-weight: 500;
  opacity: 0;
}

.nav-right h3 {
  color: var(--primary-color);
  font-size: 1.1vw;
  font-weight: 500;
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.nav span {
  display: inline-block;
}

.nav-elem1,
.nav-elem2,
.nav-elem3,
.nav-elem4 {
  display: flex;
  flex-direction: column;
  height: 2.5vh;
  position: relative;
}

.page1-hero-text {
  position: relative;
  padding: 0 4vw;
  margin-top: 5vw;
}

.page1-hero-text > h3 {
  font-family: apercuLight;
  font-weight: 300;
  font-size: 3.5vw;
}

.page1-hero-text > h3 > div {
  display: inline-block;
  overflow: hidden;
  margin-top: -1vw;
  /* background-color: salmon; */
}

.page1-hero-text > h3 > div > span {
  display: inline-block;
}
